{% extends 'shop/base.html' %}
{% load static %}
{% block title %} Your shoping cart  {% endblock %}

{% block content %}

<h1>Your shoping cart</h1>
<table class="cart">
    <thead>
    <tr>
                <th>Image</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Remove</th>
                <th>Unit price</th>
                <th>Price</th>
    </tr>
    </thead>
    <tbody>
    {% for item in cart_cart %}
    {% with product=item.product %}
    <tr>
        <td>
            <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image_product %} {{product.image_product.url}}{% else %}
                            {% static 'no_image.png' %}  {% endif %}"> </a>
        </td>
                <td> {{product.name}}  </td>
        <td>
<!--            Форма для управления количеством в корзине-->
            <form method="post" action="{% url 'cart:cart_add' product.id %}">
                {{item.qunty_form.quantity}}
            {{item.qunty_form.update}}
                {% csrf_token %}
                <input type="submit" value="update">
        </form>
        </td>
                <td><a href="{% url 'cart:cart_remove' product.id %}">Remove</a></td>
                <td class="num">${{item.price}}</td>
                <td class="num">${{item.total_price}}</td>
    </tr>
    {% endwith %}
    {% endfor %}
    {% if cart_cart.coupon %}
    <tr class="subtotal">
        <tb>Subtotal</tb>
        <td colspan="4"></td>
        <td class="num">${{cart_cart.get_total_price|floatformat:'2'}}</td>

    </tr>
    <tr>
        <td>
            "{{cart_cart.coupon.code}}" coupon
            ({{cart_cart.coupon.discount}}% off)
        </td>
        <td colspan="4"></td>
        <td class="num neg">-${{cart_cart.coupon_discounter|floatformat:"2"}}</td>
    </tr>

    {% endif %}
    <tr class="total" >
        <td>Total</td>
        <td colspan="4"></td>
        <td class="num"> ${{cart_cart.total_price_with_discounter}}</td>
    </tr>
    </tbody>
</table>
<p>Apply a coupon</p>
<form action="{% url 'coupon:coupon_apply' %}" method="post">
    {% csrf_token %}
    {{coupon_form}}
    <input type="submit" value="Apply">
</form>
<p class="text-right">
    <a href="{% url 'shop:product_list' %}">Countinue shoping</a>
    <a href="{% url 'order:create_order' %}" class="button">Checkout</a>
</p>

{% endblock %}